/run
/GbpsSink
/N8HPmin
/26.07.2012
/dropped_data_N8_HP75max_SPmin.txt.csv
/numbers.tex
/dropped_perc_data_N8_HP75max_SPmin.txt.csv
/out.csv
/N8HPmax
/oldDataFiles
/N3HP25maxSPmax
/N3HP25maxSPmin
/N3HP75maxSPmax
/N8HP25minSPmin
/N8HP25minSPvar
/N3HP25minSPvar
/N3HP75minSPmin
/N3HP75maxSPmin
/N8HP75minSPmin
/N8HP25maxSPvar
/N8HP75maxSPvar
/N3HP25minSPmax
/N3HP75minSPvar
/N3HP75minSPmax
/N8HP75minSPvar
/N8HP75maxSPmax
/N3HP25minSPmin
/N8HP75maxSPmin
/N3HP25maxSPvar
/N8HP25maxSPmin
/N3HP75maxSPvar
/N8HP25maxSPmax
/N8HP75minSPmax
/N8HP25minSPmax
/K8HP25maxSPmax
/K3HP25maxSPmin
/K3HP25minSPvar
/K3HP75maxSPmax
/K3HP75minSPvar
/K8HP75minSPmax
/K3HP25maxSPmax
/K3HP25minSPmin
/K8HP25minSPmin
/K8HP25maxSPmin
/K3HP75minSPmax
/K8HP75minSPvar
/K8HP75minSPmin
/K3HP25minSPmax
/K8HP75maxSPvar
/K8HP75maxSPmin
/K8HP25maxSPvar
/K8HP25minSPmax
/K8HP25minSPvar
/K3HP75minSPmin
/K3HP75maxSPmin
/K8HP75maxSPmax
/K3HP25maxSPvar
/K3HP75maxSPvar
